<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png?v=portrait" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png?v=portrait" | relURL }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "icons/icon-192x192.png?v=portrait" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png?v=portrait" | relURL }}">
<link rel="manifest" href="{{ "manifest.json?v=portrait" | relURL }}">
<meta name="application-name" content="Eugenio (Henny) Frias-Miranda">
<meta name="apple-mobile-web-app-title" content="Eugenio FM">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#AF9C73">
<meta name="msapplication-TileColor" content="#AF9C73">
<meta name="msapplication-TileImage" content="{{ "icons/mstile-150x150.png?v=portrait" | relURL }}">
